@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,p,span,a{
    text-shadow: 0px 2px 10px #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color: #ffb20c;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-vid video{
    width: 40vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    text-align: justify;
}

.midia-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.midia-social a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.sobre-vid video{
    width: 40vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}
.cabecalho{
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2{
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.projetos h2{
    margin-bottom: 5rem;
}

.projetos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.projetos-container .caixa-de-projetos{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .3s ease;
    box-shadow: 7px 2px 10px -1px rgba(0, 0, 0, 0.64);
}

.projetos-container .caixa-de-projetos:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.caixa-de-projetos i{
    font-size: 7rem;
    color: var(--main-color);
}

.caixa-de-projetos h3{
    font-size: 2.6rem;
}

.caixa-de-projetos p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: justify;
}

.conhecimentos{
    background: var(--second-bg-color);
}

.conhecimentos ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.conhecimentos h2{
    margin-bottom: 5rem;
}

.conhecimentos ul img{
    width: 13vw;
    margin-bottom: 5rem;
    transition: .1s ease;
}

.conhecimentos ul li img:hover{
    transform: scale(1.5);
}

.contato h2{
    margin-bottom: 3rem;
}

.contato form{
    max-height: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .inputs-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .inputs-box input,
.contato form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .inputs-box input{
    width: 49%;
}

.contato form textarea{
    resize: none;
}

.contato form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .2s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* BREAKPOINTS */

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .projetos{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-vid video{
        width: 70vw;
        margin-top: 4rem;
    }

    .sobre{
        flex-direction: column-reverse;
    }

    .sobre video{
        width: 70vw;
        margin-top: 4rem;
    }

    .projetos h2{
        margin-bottom: 3rem;
    }

    .conhecimentos h2{
        margin-bottom: 3rem;
    }

    .conhecimentos ul img{
        width: 15vw;
    }
    .conhecimentos ul img:hover{
        transform: scale(2.0);
    }

    @media (max-width: 450px){
        html{
            font-size: 50%;
        }
        .contato form .inputs-box input{
            width: 100%;
        }
        .footer{
            flex-direction: column-reverse;
        }
        .footer p {
            text-align: center;
            margin-top: 2rem;
        }
    }
    @media (max-width: 365px){
        .home-vid video{
            width: 90vw;
        }
    }

    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}