@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,p,span,a{
    text-shadow: 0px 2px 10px #000000;
}
strong{
    color: var(--main-color);
}

hr{
    border-color: #ff8800;
}

ul{
    list-style: none !important;
}

span{
    font-size: 2rem;
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color: #ff8800;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #323946;
    color: var(--text-color);
}

@media (max-width: 991px) {
    body{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.informacoes{
        width: 100%;
        border: none;
    }

    section.informacoes div img{
        width: 30%;
    }

    section.informacoes div p{
        width: 100% !important;
    }

    section.descricao{
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 1200) {
    html{
        width: 100%;
        font-size: 55%;
    }
    span{
        font-size: 2rem;
    }
    
}

@media (max-width: 780px){
    span{
        font-size: 2rem;
    }

    section.informacoes div img{
        width: 35%;
    }
}
@media (max-width: 550px){
    html{
        font-size: 50%;
    }

   
    section.informacoes div img{
        width: 60%;
    }
    .descricao .desc-qualificacoes ul li img{
        width: 10%;
    }
    
}

body{
    width: 100%;
    margin: 0 auto;
    padding: 70px;
    display: flex;
    justify-content: space-between;

    background: #1f242d;
    padding: 40px;

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn:hover{
    box-shadow: none;
}

.informacoes{
    width: 50%;
    height: 100%;

    border-right: 2px solid #ff8800;
}

.informacoes div{
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

section.informacoes div p{
    width: 85%;
}

.informacoes div h1{
    font-size: 2.6rem;
}

.informacoes div h2{
    color: #6e7681;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.informacoes div h3{
    color: var(--main-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}


.informacoes div img{
    width: 40%;
    border-radius: 50% !important;
    margin-bottom: 2rem;
    
    border: 2px solid var(--main-color);
}

.informacoes div ul{   
    list-style: none;
}

.informacoes div ul li{   
    font-size: 1.6rem;
}

.descricao{
    display: block;
    padding: 50px;
    width: 55%;
}

.descricao .desc-sobre{
    width: 100%;
    margin-bottom: 4rem;
}

.descricao .desc-qualificacoes{
    width: 100%;
    margin-bottom: 4rem;
}

.descricao div p{
    font-size: 1.6rem;
    text-align: justify;
}

.descricao div h1{
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.descricao div h2{
    color: #6e7681;
    font-size: 2.2rem;
    
}

.descricao div h3{
    color: var(--main-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.descricao div ul li div {
    display: flex;
    justify-content: left;
    align-items: end;

    margin-bottom: 2rem;
}

.descricao div ul li div img{
    width: 60px;
    
}

.descricao div ul li p{
    margin-bottom: 5rem;
    
}